/* 
    .card-container{
      display:flex;
      flex-wrap: wrap;
    }
    
    
    .card {
    border: 5px solid white;
    margin: 10px 20px 30px 40px;
    padding: 10px;
    border-radius: 25px;
    width: 300px;
    
  }
  

  .card-link:hover {
    transform: scale(1.1);
  }
  
  .card-title {
    font-weight: bolder;
    color: grey;
    font-size: x-large;
  }
  
  .text-link:hover{
color: blueviolet;
  }

  .text-link{color: white;}
   */
