.card-link  {
    text-decoration: none; 
}

    .card {
    border: 5px solid white;
    margin: 10px 20px 30px 40px;
    padding: 10px;
    border-radius: 25px;
    width: 300px;
  }
  

  .card:hover {
    transform: scale(1.1);
  }
  
  .card-title {
    font-weight: bolder;
    color: grey;
    font-size: x-large;
  }
  
  .text-link:hover{
color: blueviolet;
  }

  .text-link{color: white;}